<html>
    <head>
        <title>Bluebeam Export</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid" id="app">
            <div class="row h-100" id="export-content">
                <div class="col-sm-12 my-auto">
                    <h2 class="mx-auto text-center" style="display:block; width:300px;">
                        Export form submissions to Bluebeam
                    </h2>
                    <div class="mx-auto text-center" style="display:block; width:300px;">
                        <button
                        type="button"
                        onclick="window.location.href='${bluebeam_auth_url}';"
                        class="btn btn-primary"
                        >export</button>        
                    </div>        
                </div>
            </div>
        </div>
    </body>
</html>